authtoken: 6s1nhFQovZVjD6i6D61cA_9f34mHuG8uLYtVprQsQX
tunnels:
  www:
    log: stdout
    log_level: debug
    proto: tls
    hostname: local.dawson.fm
    addr: 80
    crt: /Users/dave/Code/certs/local.dawson.fm/fullchain.pem
    key: /Users/dave/Code/certs/local.dawson.fm/privkey.pem
  api:
    log: stdout
    log_level: debug
    proto: tls
    hostname: local.dawson.fm
    addr: 80
    crt: /Users/dave/Code/certs/local.dawson.fm/fullchain.pem
    key: /Users/dave/Code/certs/local.dawson.fm/privkey.pem

